TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
str = input("Enter the String")
reverse = str[::-1]
print(reverse)

Enter the String Suraj

jaruS

2. Check if a string is a palindrome.

In [2]:
str = input("Enter the String")
if str == str[::-1]:
    print("String is Palindrome")
else:
    print("String is not Palindrome")

Enter the String sos

String is Palindrome

3. Convert a string to uppercase.

In [3]:
str = "suraj"
str.upper()

'SURAJ'

4. Convert a string to lowercase.

In [4]:
str = "SURAJ"
str.lower()

'suraj'

5. Count the number of vowels in a string.

In [5]:
str = "My Name is Suraj"
vowels = 0

for char in str:
    if char in "aeiouAEIOU":
        vowels = vowels + 1

print("The total numbers of vowels : ",vowels)

The total numbers of vowels :  5

6. Count the number of consonants in a string.

In [6]:
consonants = "SURAJPATIL"
tot_count = 0

for char in consonants:
    tot_count = tot_count + 1
    
print("The number of consonants : ",tot_count)

The number of consonants :  10

7. Remove all whitespaces from a string.

In [7]:
str = input("Enter the String:")
white_spaces = str.replace(" ", "")
print(white_spaces)

Enter the String: My name is Suraj

MynameisSuraj

8. Find the length of a string without using the `len()` function.

In [8]:
str = input("Enter the String: ")
count = 0

for char in str:
    count = count+1
print("The string count :",count)

Enter the String:  My name is Suraj

The string count : 16

9. Check if a string contains a specific word.

In [9]:
str = "Hello my name is Suraj"
word_find = "Suraj"

if word_find in str:
    print("Word is present in the String")
else:
    print("Word is not present in the string")

Word is present in the String

10. Replace a word in a string with another word.

In [10]:
str = "My name is Suraj"
word_find = "name"

if word_find in str:
    new_str = str.replace('name',"NAME")
    print(new_str)
else:
    print("Word Not Found")

My NAME is Suraj

11. Count the occurrences of a word in a string.

In [11]:
str = "Hello! Hello! Good Morning"
word_count = "Hello!"

occurence = str.count(word_count)

print("The number of Occurence is",occurence)

The number of Occurence is 2

12. Find the first occurrence of a word in a string.

In [12]:
str = "Good Morning! My Name is Suraj"
word_find = "Suraj"

first_occurrence_index = str.find(word_find)

if first_occurrence_index != -1:
    print(f"The first occurrence of '{word_find}' starts at index {first_occurrence_index}.")
else:
    print("The word was not found in the string.")

The first occurrence of 'Suraj' starts at index 25.

13. Find the last occurrence of a word in a string.

In [13]:
str = "Good Morning Suraj! My Name is Suraj"
word_find = "Suraj"

last_occurence_index = str.rfind(word_find)

if last_occurence_index != -1:
    print(f"The last occurrence of '{word_find}' starts at index {last_occurence_index}.")
else:
    print("The word was not found in the string.")

The last occurrence of 'Suraj' starts at index 31.

14. Split a string into a list of words.

In [14]:
string = "My Name is Suraj"
string_split = string.split()
print(string_split)

['My', 'Name', 'is', 'Suraj']

15. Join a list of words into a string.

In [15]:
words = ["My","Name","is","Suraj"]
seprator = " "

join_word = seprator.join(words)
print(join_word)

My Name is Suraj

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [16]:
words = "My Name is Suraj"

join_word = words.replace(" ","_")
print(join_word)

My_Name_is_Suraj

17. Check if a string starts with a specific word or phrase.

In [17]:
str = "The quick brown fox jumps over the lazy dog"
prefix_to_check = "The quick"

if str.startswith(prefix_to_check):
    print("The Sentence start with : ",prefix_to_check)
else:
    print("The Sentence does not start with : ",prefix_to_check)

The Sentence start with :  The quick

18. Check if a string ends with a specific word or phrase.

In [18]:
str = "The quick brown fox jumps over the lazy dog"
suffix_to_check = "lazy dog"

if str.endswith(suffix_to_check):
    print("The Sentence ends with : ",suffix_to_check)
else:
    print("The Sentence does not ends with : ",suffix_to_check)

The Sentence ends with :  lazy dog

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
str = "hello world"
new_string = str.title()
print(new_string)

Hello World

20. Find the longest word in a string.

In [20]:
str = "Hello!, My name is Suraj"
words = str.split()
longest_word = ""

for word in words:
    if len(word) > len(longest_word):
        longest_word = word
        
print("The longest word is : ",longest_word)

The longest word is :  Hello!,

21. Find the shortest word in a string.

In [21]:
str = "Hello!,My name is Suraj"
words = str.split()
shortest_word = None

for word in words:
    if shortest_word is None or len(word) < len(shortest_word):
        shortest_word = word

print("The shortest word is:", shortest_word)

The shortest word is: is

22. Reverse the order of words in a string.

In [22]:
str = "My Name is Suraj"
new_str = str.split()

reverse_str = " ".join(reversed(new_str))
print(reverse_str)

Suraj is Name My

23. Check if a string is alphanumeric

In [23]:
str = "My name is Suraj"
new_str = str.isalnum()
print(new_str)

False

24. Extract all digits from a string.

In [24]:
str = "There are 2 apple and 3 mangoes"
dig = []

for char in str:
    if char.isdigit():
        dig.append(char)
        
print(dig)

['2', '3']

25. Extract all alphabets from a string.

In [25]:
str = "There are 2 apples and 3 Mangoes"
alphabets = []

for char in str:
    if char.isalpha():
        alphabets.append(char)

print(alphabets)

['T', 'h', 'e', 'r', 'e', 'a', 'r', 'e', 'a', 'p', 'p', 'l', 'e', 's', 'a', 'n', 'd', 'M', 'a', 'n', 'g', 'o', 'e', 's']

26. Count the number of uppercase letters in a string.

In [26]:
str = "Suraj Patil"
char_upper = 0

for char in str:
    if char.isupper():
        char_upper = char_upper+1

        
print("The total number of Uppercase Character : ", char_upper)

The total number of Uppercase Character :  2

27. Count the number of lowercase letters in a string.

In [27]:
str = "Suraj Patil"
char_lower = 0

for char in str:
    if char.islower():
        char_lower = char_lower+1
    
print("The total number of Lowercase Charcter : ",char_lower)

The total number of Lowercase Charcter :  8

28. Swap the case of each character in a string.

In [28]:
str = "Suraj Patil"
new_str = str.swapcase()
print(new_str)

sURAJ pATIL

29. Remove a specific word from a string.

In [29]:
str = "My name is Suraj"
rem_word = "is"

new_word = str.split()

if rem_word in new_word:
    new_word.remove(rem_word)
    
join_string = ' '.join(new_word)
print(join_string)

My name Suraj

30. Check if a string is a valid email address.

In [30]:
str = "abc@gmail.com"

if "@gmail.com" in str:
    print("Email Is Valid")
else:
    print("Email is Not Valid")

Email Is Valid

31. Extract the username from an email address string.

In [31]:
str = "abc@gmail.com"

username = str.split("@")[0]
print(username)

abc

32. Extract the domain name from an email address string.

In [32]:
str = "abc@example.com"

username = str.split("@")[1]
print(username)

example.com

33. Replace multiple spaces in a string with a single space.

In [33]:
str = "My  Name  is  Suraj"
new_str = str.replace("  ", " ")
print(new_str)

My Name is Suraj

34. Check if a string is a valid URL

In [34]:
from urllib.parse import urlparse

url_string = input("Enter a URL: ")

try:
    result = urlparse(url_string)
    if result.scheme and result.netloc:
        print(f"{url_string} is a valid URL.")
    else:
        print(f"{url_string} is not a valid URL.")
except ValueError:
    print(f"{url_string} is not a valid URL.")

Enter a URL:  https://suraj.com

https://suraj.com is a valid URL.

35. Extract the protocol (http or https) from a URL string.

In [35]:
url_string = "https://www.example.com"

protocol_end_index = url_string.find("://")

if protocol_end_index != -1:
    protocol = url_string[:protocol_end_index]
    print("Protocol:", protocol)
else:
    print("Protocol not found in the URL.")

Protocol: https

36. Find the frequency of each character in a string.

In [36]:
input_string = "hello world"

character_frequency = {}

for char in input_string:
    if char in character_frequency:
        character_frequency[char] += 1
    else:
        character_frequency[char] = 1

print("Character frequency:")
for char, frequency in character_frequency.items():
    print(f"'{char}': {frequency}")

Character frequency:
'h': 1
'e': 1
'l': 3
'o': 2
' ': 1
'w': 1
'r': 1
'd': 1

37. Remove all punctuation from a string.

In [37]:
str = "Hello! World"
new_str = ""

for char in str:
    if char.isalnum() or char.isspace():
        new_str = new_str+char

print(new_str)

Hello World

38. Check if a string contains only digits.

In [38]:
str = "12345"

new_str = str.isdigit()
print(new_str)

True

39. Check if a string contains only alphabets.

In [39]:
str = "Suraj 123Patil"

new_str = str.isalpha()
print(new_str)

False

40. Convert a string to a list of characters.

In [40]:
str = "Suraj"

new_str = []

for char in str:
    new_str.append(char)

print(new_str)

['S', 'u', 'r', 'a', 'j']

41. Check if two strings are anagrams.

In [41]:
str1 = "silent"
str2 = "listen"

sorted_str1 = sorted(str1)
sorted_str2 = sorted(str2)

if sorted_str1 == sorted_str2:
    print("The Strings are anagrams")
else:
    print("The Strings are not anagrams")

The Strings are anagrams

42. Encode a string using a Caesar cipher.

In [42]:
plaintext = "hello world"
shift = 3
encrypted_text = ""

for char in plaintext:
    if char.isalpha():
        ascii_offset = ord('a') if char.islower() else ord('A')
        shifted_char = chr((ord(char) - ascii_offset + shift) % 26 + ascii_offset)
        encrypted_text += shifted_char
    else:
        encrypted_text += char

print("Encrypted text:", encrypted_text)

Encrypted text: khoor zruog

43. Decode a Caesar cipher encoded string.

In [43]:
encrypted_text = "khoor zruog"
shift = 3
decrypted_text = ""

for char in encrypted_text:
    if char.isalpha():
        ascii_offset = ord('a') if char.islower() else ord('A')
        decrypted_char = chr((ord(char) - ascii_offset - shift) % 26 + ascii_offset)
        decrypted_text += decrypted_char
    else:
        decrypted_text += char

print("Decrypted text:", decrypted_text)

Decrypted text: hello world

44. Find the most frequent word in a string.

In [44]:
str = "My Name Name is is is Suraj"

freq_word = {}
words = str.split()

for word in words:
    if word in freq_word:
        freq_word[word] +=1
    else:
        freq_word[word] = 1
    
most_frequent_word = max(freq_word, key=freq_word.get)
frequency = freq_word[most_frequent_word]

print("The most frequency is:",frequency)

The most frequency is: 3

45. Find all unique words in a string.

In [45]:
input_string = "the quick brown fox jumps over the lazy dog the quick brown fox"

words = input_string.split()
unique_words = set(words)

print("Unique words:", unique_words)

Unique words: {'dog', 'the', 'lazy', 'quick', 'jumps', 'over', 'brown', 'fox'}

46. Count the number of syllables in a string.

In [46]:
input_string = "hello world"
words = input_string.split()

total_syllables = 0
vowels = "aeiouy"

for word in words:
    word = word.lower()
    count = 0
    in_vowel_group = False

    for char in word:
        if char in vowels:
            if not in_vowel_group:
                count += 1
                in_vowel_group = True
        else:
            in_vowel_group = False

    if word.endswith("e"):
        count -= 1
    if count == 0:
        count = 1

    total_syllables += count

print("Total syllables:", total_syllables)

Total syllables: 3

47. Check if a string contains any special characters.

In [47]:
str = "Hello World!"

contains_special_char = False

for char in str:
    if not char.isalnum() or char.isspace():
        contains_special_char = True
        break
        
if contains_special_char:
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

48. Remove the nth word from a string.

In [48]:
str = "My Name is Suraj"
words = str.split()

n = 3

if 0 <= n <len(words):
    words.pop(n)
    new_string = ' '.join(words)
    print("New string:", new_string)
else:
    print("Invalid index. The word cannot be removed.")

New string: My Name is

49. Insert a word at the nth position in a string.

In [49]:
input_string = "My Name is"
new_word = "Suraj"
n = 3 

words = input_string.split()

if 0 <= n <= len(words):
    words.insert(n, new_word)
    new_string = ' '.join(words)
    print("New string:", new_string)
else:
    print("Invalid index. The word cannot be inserted.")

New string: My Name is Suraj

50. Convert a CSV string to a list of lists.

In [50]:
import csv
from io import StringIO

csv_string = "1,John,Doe\n2,Jane,Smith\n3,Michael,Johnson"
csv_file = StringIO(csv_string)

csv_list_of_lists = list(csv.reader(csv_file))

for row in csv_list_of_lists:
    print(row)

['1', 'John', 'Doe']
['2', 'Jane', 'Smith']
['3', 'Michael', 'Johnson']

TOPIC: List Based Assignment Problem

1. Create a list with integers from 1 to 10.

In [51]:
l1 = [1,2,2,5,8,2,9,3,3,4,5,6,7,8,9,10]
print(l1)
type(l1)

[1, 2, 2, 5, 8, 2, 9, 3, 3, 4, 5, 6, 7, 8, 9, 10]

list

2. Find the length of a list without using the `len()` function.

In [52]:
l1 = [1,2,2,5,8,2,9,3,3,4,5,6,7,8,9,10]

count = 0
for i in l1:
    count += 1

print(count)

16

3. Append an element to the end of a list.

In [53]:
l1.append(11)
l1

[1, 2, 2, 5, 8, 2, 9, 3, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [54]:
l1.insert(3,100)
l1

[1, 2, 2, 100, 5, 8, 2, 9, 3, 3, 4, 5, 6, 7, 8, 9, 10, 11]

5. Remove an element from a list by its value.

In [55]:
l1.remove(100)
l1

[1, 2, 2, 5, 8, 2, 9, 3, 3, 4, 5, 6, 7, 8, 9, 10, 11]

6. Remove an element from a list by its index.

In [56]:
l1.pop(10)
l1

[1, 2, 2, 5, 8, 2, 9, 3, 3, 4, 6, 7, 8, 9, 10, 11]

7. Check if an element exists in a list.

In [57]:
l1.index(5)

3

8. Find the index of the first occurrence of an element in a list.

In [58]:
l1.index(5)

3

9. Count the occurrences of an element in a list.

In [59]:
l1.count(2)

3

10. Reverse the order of elements in a list.

In [60]:
l1[::-1]

[11, 10, 9, 8, 7, 6, 4, 3, 3, 9, 2, 8, 5, 2, 2, 1]

11. Sort a list in ascending order.

In [61]:
l1.sort(reverse=False)
l1

[1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 8, 9, 9, 10, 11]

12. Sort a list in descending order.

In [62]:
l1.sort(reverse=True)
l1

[11, 10, 9, 9, 8, 8, 7, 6, 5, 4, 3, 3, 2, 2, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [63]:
l2 = [2,4,6,8,10,12,14,16,18,20]
print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [64]:
l3 = [1,3,5,7,9,11,13,15,17,19]
print(l3)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [65]:
sum(l1)

90

16. Find the maximum value in a list.

In [66]:
l4 = [10,54,40,16,17,8]
max_value = max(l4)
print("Max Value:",max_value)

Max Value: 54

17. Find the minimum value in a list.

In [67]:
min_value = min(l4)
print("Min Value:",min_value)

Min Value: 8

18. Create a list of squares of numbers from 1 to 10.

In [68]:
square_root = [x**2 for x in range(1, 11)]
print(square_root)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [69]:
l6 = [1,1,2,3,3,4,5,5,5,6,7,8,8,8,9]
print(l6)

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 7, 8, 8, 8, 9]

20. Remove duplicates from a list.

In [70]:
print("Before Removing Duplicate",l6)
s = set(l6)
l6 = list(s)
print("After Removing Duplicate",l6)

Before Removing Duplicate [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 7, 8, 8, 8, 9]
After Removing Duplicate [1, 2, 3, 4, 5, 6, 7, 8, 9]

21. Find the common elements between two lists.

In [71]:
l1 = [1,2,3,4,5,6,7]
l2 = [3,5,8,9,10,11]
list(set(l1).intersection(l2))

[3, 5]

22. Find the difference between two lists.

In [72]:
l1 = [1,2,3,4,5,6,7]
l2 = [3,5,8,9,10,11]
list(set(l1)- set(l2))

[1, 2, 4, 6, 7]

23. Merge two lists.

In [73]:
l1 = [1,2,3,4,5,6,7]
l2 = [3,5,8,9,10,11]
l1+l2

[1, 2, 3, 4, 5, 6, 7, 3, 5, 8, 9, 10, 11]

24. Multiply all elements in a list by 2.

In [74]:
l1 = [1,2,3,4,5]
new_l1 = [i*2 for i in l1]
new_l1

[2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [75]:
l1 = [1,2,3,4,5,6,7,8]
even = filter(lambda x: x%2 == 0,l1)
print(list(even))

[2, 4, 6, 8]

26. Convert a list of strings to a list of integers.

In [76]:
l1 = ["1","2","3","4","5"]
new_l1 = [int(i) for i in l1]
print(new_l1)

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

a=[1,2,3]
b=[str(x) for x in a]
print(b)

28. Flatten a nested list.

In [77]:
l1 = [[1,2],[3,4,5],[1,2,3,4,5]]
sum(l1,[])

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

29. Create a list of the first 10 Fibonacci numbers.

In [78]:
n = 10

def gen_fib(n):
    if n <= 1:
        return n
    else:
        return gen_fib(n - 1) + gen_fib(n - 2)

fibonacci_sequence = [gen_fib(i) for i in range(n)]
print(fibonacci_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [79]:
l1 = [4, 5, 2, 1, 8, 4, 3, 7, 9]
for i in range(len(l1) - 1):
    if l1[i] > l1[i + 1]:
        print("List is not sorted")
        break
else:
    print("List is sorted")

List is not sorted

31. Rotate a list to the left by n positions.

In [80]:
original_list = [1, 2, 3, 4, 5]
n_positions = 2

n_positions = n_positions % len(original_list)
rotated_list = original_list[n_positions:] + original_list[:n_positions]

print(rotated_list)

[3, 4, 5, 1, 2]

31. Rotate a list to the right by n positions.

In [81]:
original_list = [1, 2, 3, 4, 5]
n_positions = 2

n_positions = n_positions % len(original_list)
rotated_list = original_list[-n_positions:] + original_list[:-n_positions]

print(rotated_list)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [82]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [83]:
def split_chuncks(l1,n):
    return [l1[i:i+n] for i in range (0,len(l1),n)]

l1 = [1,2,3,4,5,6,7,8,91,0]
n = 3

result = split_chuncks(l1,n)
print(result)

[[1, 2, 3], [4, 5, 6], [7, 8, 91], [0]]

35. Find the second largest number in a list.

In [84]:
l1 = [2,4,10,15,54,15,64,78,11,77]

l1.sort()
print("Second largest number:",l1[-2])

Second largest number: 77

36. Replace every element in a list with its square.

In [85]:
l1 = [1,2,3,4,5]
expo = 2

result = [i ** 2 for i in l1]
print(result)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [86]:
my_list = ['apple', 'banana', 'orange']

# Using a dictionary comprehension
result_dict = {value: index for index, value in enumerate(my_list)}

print(result_dict)

{'apple': 0, 'banana': 1, 'orange': 2}

38. Shuffle the elements of a list randomly.

In [87]:
import random

l1 = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(l1)
print(l1)

[1, 5, 6, 8, 3, 4, 2, 7, 10, 9]

39. Create a list of the first 10 factorial numbers.

In [88]:
def fact(n):
    if n == 1:
        return 1
    else:
        return n * fact(n-1)

fact_list = [fact(i) for i in range(1, 11)]
print(fact_list)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [89]:
def common_element(l1,l2):
    for element in l1:
        if element in l2:
            return True
        else:
            return True
        
l1 = [1,2,3,4]
l2 = [3,5,6,7]

if common_element(l1,l2):
    print("Has Common Element")
else:
    print("Not have Common Element")

Has Common Element

41. Remove all elements from a list.

In [90]:
l1 = [1,2,3,4,5]
l1.clear()
l1

[]

42. Replace negative numbers in a list with 0.

In [91]:
l1 = [1,-5,4,-7,3,-1,-2]
l1 = [0 if i<= 0 else i for i in l1]
print(l1)

[1, 0, 4, 0, 3, 0, 0]

43. Convert a string into a list of words.

In [92]:
l1 = "My name is Suraj"
new_list=l1.split(' ')
print(new_list)

['My', 'name', 'is', 'Suraj']

44. Convert a list of words into a string.

In [93]:
l1 = ['My', 'name', 'is', 'Suraj']
new_list = ' '.join(l1)
print(new_list)

My name is Suraj

45. Create a list of the first `n` powers of 2.

In [94]:
n = 5

power_of_2 = [2 ** i for i in range(n)]
print(power_of_2)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [95]:
l1 = ["My" ,"Name","is","Suraj"]
long_str = max(l1,key=len)
print(long_str)

Suraj

47. Find the shortest string in a list of strings.

In [96]:
l1 = ["My" ,"Name","is","Suraj"]
long_str = min(l1,key=len)
print(long_str)

My

48. Create a list of the first `n` triangular numbers.

In [97]:
n = 5  # You can replace this with the desired number of triangular numbers
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]

print(triangular_numbers)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [98]:
def is_subsequence(sublist, sequence):
    i, j = 0, 0

    while i < len(sublist) and j < len(sequence):
        if sublist[i] == sequence[j]:
            i += 1
        j += 1

    return i == len(sublist)

# Example
main_list = [1, 2, 3, 4, 5, 6, 7]
sub_list = [3, 5, 7]

result = is_subsequence(sub_list, main_list)

if result:
    print("Sublist is a subsequence of the main list.")
else:
    print("Sublist is not a subsequence of the main list.")

Sublist is a subsequence of the main list.

50. Swap two elements in a list by their indices.

In [99]:
my_list = [1, 2, 3, 4, 5]

# Swap elements at indices 1 and 3
index1, index2 = 1, 3
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

print(my_list)

[1, 4, 3, 2, 5]

TOPIC: TUPLE Based Assignment Problem

1. Create a tuple with integers from 1 to 5.

In [100]:
t1 = (1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [101]:
t1 = (1,2,3,4,5)
t1[2]

3

3. Find the length of a tuple without using the `len()` function.

In [102]:
t1 = (1,2,3,4,5)
count = 0

for i in t1:
    count +=1
print(count)

5

4. Count the occurrences of an element in a tuple.

In [103]:
t1 = (1,1,2,3,1,4,5,5,6,7)
t1.count(1)

3

5. Find the index of the first occurrence of an element in a tuple.

In [104]:
t1 = (1,1,2,3,1,4,5,5,6,7)
t1.index(5)

6

6. Check if an element exists in a tuple.

In [105]:
t1 = (1,1,2,3,1,4,5,5,6,7)
i = 4
if i in t1:
    print("Element is Present")
else:
    print("Element is not present")

Element is Present

7. Convert a tuple to a list.

In [106]:
t1 = (1,1,2,3,1,4,5,5,6,7)
list(t1)

[1, 1, 2, 3, 1, 4, 5, 5, 6, 7]

8. Convert a list to a tuple.

In [107]:
l1 = [1, 1, 2, 3, 1, 4, 5, 5, 6, 7]
tuple(l1)

(1, 1, 2, 3, 1, 4, 5, 5, 6, 7)

9. Unpack the elements of a tuple into variables.

In [108]:
t1 = (1,2,3)
a,b,c = t1
print("a :",a)
print("b :",b)
print("c :",c)

a : 1
b : 2
c : 3

10. Create a tuple of even numbers from 1 to 10.

In [109]:
t1 = (1,2,3,4,5,6,7,8,9,10)
t = ()
for i in t1:
    if i%2==0:
        t += (i,)
print(t)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [110]:
t1 = (1,2,3,4,5,6,7,8,9,10)
t = ()
for i in t1:
    if i%2!=0:
        t += (i,)
print(t)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [111]:
t1 = (1,2,3,4,5)
t2 = (4,5,6,7,8)
t1 + t2

(1, 2, 3, 4, 5, 4, 5, 6, 7, 8)

13. Repeat a tuple three times.

In [112]:
t1 = (1,2,3,4,5)
t1*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [113]:
t1 = ()
if len(t1)==0:
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is empty

15. Create a nested tuple.

In [114]:
t = (1,2,3,4,5,(1,2,3))
t

(1, 2, 3, 4, 5, (1, 2, 3))

16. Access the first element of a nested tuple.

In [115]:
t = (1,2,3,4,5,(1,2,3))
t[0]

1

7. Create a tuple with a single element.

In [116]:
t1 = ("suraj",)
print(t1)

('suraj',)

18. Compare two tuples.

In [117]:
t1 = (1,2,3,4,5)
t2 = (7,8,9,5,6)

if t1==t2:
    print("Tuple are equal")
else:
    print("Tuple are not equal")

Tuple are not equal

19. Delete a tuple.

In [118]:
t1 = (1,2,3,4,5)
del t1

20. Slice a tuple.

In [119]:
t1 = (1,2,3,4,5,6,7,8,9)
t1[0:-1]

(1, 2, 3, 4, 5, 6, 7, 8)

21. Find the maximum value in a tuple.

In [120]:
t1 =(1,2,3,4,5,6)
max(t1)

6

22. Find the minimum value in a tuple.

In [121]:
t1 =(1,2,3,4,5,6)
min(t1)

1

23. Convert a string to a tuple of characters.

In [122]:
t1 = "Suraj"
tuple(t1)

('S', 'u', 'r', 'a', 'j')

24. Convert a tuple of characters to a string.

In [123]:
t1 = ('s','u','r','a','j')
result = ' '.join(t1)
print(result)

s u r a j

25. Create a tuple from multiple data types.

In [124]:
t1 = (1,2,3,"suraj",True,3+4j)
print(t1)

(1, 2, 3, 'suraj', True, (3+4j))

26. Check if two tuples are identical.

In [125]:
t1 = (1,2,3,4,5)
t2 = (1,2,3,4,5)

if t1==t2:
    print("Both tuples are identical")
else:
    print("Both tuple are not identical")

Both tuples are identical

27. Sort the elements of a tuple.

In [126]:
t1 = (2,5,2,7,6,9,1)
set(t1)

{1, 2, 5, 6, 7, 9}

28. Convert a tuple of integers to a tuple of strings.

t1 = (1,2,3,4,5)
result = list(map(str,t1))
print(result)

29. Convert a tuple of strings to a tuple of integers.

In [127]:
t1 = ('1','2','3','4','5')
result = tuple(map(int,t1))
print(result)

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [128]:
t1 = (1,2,3,4,5)
t2 = (4,5,6,7,8)
t1 + t2

(1, 2, 3, 4, 5, 4, 5, 6, 7, 8)

31. Flatten a nested tuple.

In [129]:
t1 = (1,2,3,(4,5),6,(7,8,9))

def flatten_object(nested_tuple):
    for item in nested_tuple:
        if isinstance (item,tuple):
            yield from flatten_object(item)
        else:
            yield item
    
flatten_object = tuple(flatten_object(t1))
print(flatten_object)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

32. Create a tuple of the first 5 prime numbers.

In [130]:
def primes(n):
    primes = []
    num = 2
    
    while len(primes)<n:
        is_prime = True
        for i in range(2, int(num ** 0.5)+1):
            if num%2==0:
                is_prime = False
                break
                
        if is_prime:
            primes.append(num)
            
        num += 1
        
    return tuple(primes)


first_five_primes = primes(5)
print(first_five_primes)

(2, 3, 5, 7, 9)

33. Check if a tuple is a palindrome.

In [131]:
t1 = (1,2,3,2,1)

if t1 == t1[::-1]:
    print("Tuple is Pallindrome")
else:
    print("Tuple is not Pallindrome")

Tuple is Pallindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [132]:
square = tuple(i**2 for i in range(1,6))
print(square)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [133]:
t1 = (1,2,3,4,5,6,7,8,9,10)

even_num = []

for i in t1:
    if i%2 ==0:
        even_num.append(i)

print(tuple(even_num))

(2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [134]:
t1 = (1,2,3,4,5)

double_element = tuple((i * 2 for i in t1))
print(double_element)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [135]:
import random

num_random_number = 5
random_number = tuple(random.randint(1,100) for _ in range(num_random_number))
print(random_number)

(31, 11, 75, 38, 54)

38. Check if a tuple is sorted.

In [136]:
t1 = (1,5,3,4,6,2,8,5,3)

for i in range(len(t1)-1):
    if t1[i] > t1[i+1]:
        print("Tuple is not sorted")
        break
        
else:
    print("Tuple is sorted")

Tuple is not sorted

39. Rotate a tuple to the left by `n` positions.

In [137]:
def rotate_left(t, n):
    n = n % len(t)  # Ensure n is within the length of the tuple
    rotated_tuple = t[n:] + t[:n]
    return rotated_tuple

# Example usage:
original_tuple = (1, 2, 3, 4, 5)
positions_to_rotate = 2

rotated_tuple = rotate_left(original_tuple, positions_to_rotate)
print(rotated_tuple)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [138]:
def rotate_right(t,n):
    n = n % len(t)
    rotated_tuple = t[-1:] + t[:-1]
    return rotated_tuple

t1 = (1,2,3,4,5)
pos = 2

rotated_tuple = rotate_right(t1,pos)
print(rotated_tuple)

(5, 1, 2, 3, 4)

41. Create a tuple of the first 5 Fibonacci numbers.

In [139]:
def fibo(num):
    t1 = []

    for i in range(num):
        if i<2:
            t1.append(i)
        else:
            t1.append(t1[i-1] + t1[i-2])
        
    return tuple(t1)
        
result = fibo(5)
print(result)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.


user_input_str = input("Enter elements separated by spaces: ")
user_input_list = user_input_str.split()
user_tuple = tuple(map(int, user_input_list))
print("User input as tuple:", user_tuple)

43. Swap two elements in a tuple

In [140]:
def swap_element(t,index1,index2):
    temp = list(t)
    temp[index1],temp[index2] = temp[index2],temp[index1]
    swapped = tuple(temp)
    
    return swapped

t1 = (1,2,3,4,5)
index1 = 2
index2 = 3

result = swap_element(t1,index1,index2)
print(result)

(1, 2, 4, 3, 5)

44. Reverse the elements of a tuple.

In [141]:
t1 = (1,2,3,4,5,6)
t1[::-1]

(6, 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [142]:
def power_of_two(n):
    return tuple(2**i for i in range(n))

n = 5

power = power_of_two(5)
print(power)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [143]:
t1 = ("My","Name","Suraj")
max_str = max(t1, key=len)
print(max_str)

Suraj

47. Find the shortest string in a tuple of strings.

In [144]:
t1 = ("My","Name","Suraj")
max_str = min(t1, key=len)
print(max_str)

My

48. Create a tuple of the first `n` triangular numbers.

In [145]:
def triangular_number(n):
    return tuple((i*(i+1))//2 for i in range(n))

n = 5
tri = triangular_number(n)
print(tri)

(0, 1, 3, 6, 10)

49. Check if a tuple contains another tuple as a subsequence.

In [146]:
def is_subsequence(subseq, tup):
    len_subseq = len(subseq)
    len_tup = len(tup)

    for i in range(len_tup - len_subseq + 1):
        if tup[i:i + len_subseq] == subseq:
            return True

    return False

# Example usage:
tuple1 = (1, 2, 3, 4, 5, 6, 7)
tuple2 = (3,4,5)

result = is_subsequence(tuple2, tuple1)

if result:
    print("Tuple2 is a subsequence of Tuple1")
else:
    print("Tuple2 is not a subsequence of Tuple1")

Tuple2 is a subsequence of Tuple1

In [147]:
t1 = (1,2,3,4,5)
t2 = (3,4)
set(t2).issubset(t1)

True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [148]:
n = 6
alter = tuple( 1 if i%2==0 else 0 for i in range(n))
print(alter)

(1, 0, 1, 0, 1, 0)

TOPIC: Set Based Assignment Problem

1. Create a set with integers from 1 to 5.

In [149]:
s = {1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [150]:
s = {1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [151]:
s = {1,2,3,4,5,6}
s.remove(6)
print(s)

{1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [152]:
s = {1,2,3,4,5}
i = 3
if i in s:
    print("Element Exist")
else:
    print("Element does not exist")

Element Exist

5. Find the length of a set without using the `len()` function.

In [153]:
s = {1,2,3,4,5}
count = 0
for i in s:
    count += 1
print(count)

5

6. Clear all elements from a set.

In [154]:
s = {1,2,3,4,5}
s.clear()
print(s)

set()

7. Create a set of even numbers from 1 to 10.

In [155]:
s = {1,2,3,4,5,6,7,8,9,10}
s1 = {}
for i in s1:
    if i%2==0:
        s1 += {i,}
print(s1)

{}

In [156]:
s = []
for i in range(1,11):
    if i%2 == 0:
        s.append(i)
print(set(s))

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [157]:
s = []
for i in range(1,10):
    if i%2 != 0:
        s.append(i)
print(set(s))

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [158]:
s1 = {1,2,3}
s2 = {4,5,6}

s1.union(s2)

{1, 2, 3, 4, 5, 6}

10. Find the intersection of two sets.

In [159]:
s1 = {1,2,3,4,5,6}
s2 = {3,4,5,6,7,8}

s1.intersection(s2)

{3, 4, 5, 6}

11. Find the difference between two sets.

In [160]:
s1 = {1,2,3,4,5,6}
s2 = {3,4,5,6,7,8}

s1.difference(s2)

{1, 2}

12. Check if a set is a subset of another set.

In [161]:
s1 = {1,2,3,4,5,6,7}
s2 = {3,4,5}

s2.issubset(s1)

True

13. Check if a set is a superset of another set.

In [162]:
s1 = {1,2,3,4,5,6,7}
s2 = {3,4,5}

s1.issuperset(s2)

True

14. Create a set from a list.

In [163]:
l1 = [1,2,3,4,5]
print(set(l1))

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [164]:
s = {1,2,3,4,5}
print(list(s))

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [165]:
s = {1,2,3,4,5}
s.remove(3)
print(s)

{1, 2, 4, 5}

17. Pop an element from a set.

In [166]:
s = {1,2,3,4,5}
s.pop()
print(s)

{2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [167]:
s1 = {1,2,3,4,5,6,7}
s2 = {3,4,5}

if s1.intersection(s2):
    print("Both have common element")
else:
    print("Both does not have any common element")

Both have common element

19. Find the symmetric difference between two sets

In [168]:
s1 = {1,2,3,4,5,6,7}
s2 = {3,4,5,8,9,10}

s1.symmetric_difference(s2)

{1, 2, 6, 7, 8, 9, 10}

20. Update a set with elements from another set.

In [169]:
s1 = {1,2,3,4,5}
s2 = {6,7}

s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7}

21. Create a set of the first 5 prime numbers.

def primes(n):
    s = []
    num = 2
    
    while len(s)<n:
        for i in range(2, int(num ** 0.5)+1):
            if num %2 ==0:
                is_prime = True
                break
        
            if is_prime:
                primes.append(s)
            
            num +=1
            
    return set(primes)

first_five_primes = primes(5)
print(first_five_primes)

22. Check if two sets are identical.

In [170]:
s1 = {1,2,3,4}
s2 = {4,5}

if s1 == s2:
    print("Two sets are identical")
else:
    print("Two sets are not identical")

Two sets are not identical

23. Create a frozen set.

In [171]:
s = frozenset((0,1,1,0,2,1,0,1,2,1,0,0))
print(s)

frozenset({0, 1, 2})

24. Check if a set is disjoint with another set.

In [172]:
s1 = {1,2,3,4,5}
s2 = {1,4,5,6,7}

s1.isdisjoint(s2)

False

25. Create a set of squares of numbers from 1 to 5.

In [173]:
result = (i * 2 for i in range(1,6))
print(set(result))

{2, 4, 6, 8, 10}

26. Filter out all even numbers from a set.

In [174]:
s1 = {1,2,3,4,5,6,7,8,9,10}
result = set(filter(lambda x : x%2 ==0,s1))
print(result)

{2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [175]:
s1 = {1,2,3,4,5}
result = (i*2 for i in s1)
print(set(result))

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [176]:
import random

result = set(random.sample(range(1,50),5))
print(result)

{35, 38, 43, 28, 29}

29. Check if a set is empty.

In [177]:
s = {1,2,3,4,5}

if len(s) == 0:
    print("Set is Empty")
else:
    print("Set is not Empty")

Set is not Empty

30. Create a nested set (hint: use frozenset).

In [178]:
s = {frozenset({1,2}),frozenset({3,4,5}),frozenset({4,5,6})}
print(s)

{frozenset({3, 4, 5}), frozenset({4, 5, 6}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [179]:
s = {1,2,3,4,5}
s.discard(3)
print(s)

{1, 2, 4, 5}

32. Compare two sets.

In [180]:
s1 = {1,2,3,4,5}
s2 = {1,2,3,4,5}

s1==s2

True

33. Create a set from a string.

In [181]:
str1 = ['1','2','3','4','5']
print(set(str1))

{'5', '3', '2', '1', '4'}

34. Convert a set of strings to a set of integers

In [182]:
str1 = "1,2,3,4,5"
result = str1.split(',')
int_str = set(map(int, result))
print(set(int_str))

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

s1 = {1, 2, 3, 4, 5}
result = {str(x) for x in s1}
print(result)

36. Create a set from a tuple.

In [184]:
t = (1,2,"suraj",3.14,True)
print(set(t))

{1, 2, 3.14, 'suraj'}

37. Convert a set to a tuple.

In [185]:
s = {1, 2, 3, 4, 5}
print(tuple(s))

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [186]:
s = {1,5,2,6,4,8}
result = list(s)
print(max(result))

8

39. Find the minimum value in a set.

In [187]:
s = {1,5,2,6,4,8}
result = list(s)
print(min(result))

1

40. Create a set from user input.

In [189]:
user_input_str = input("Enter a set of elements separated by commas: ")
elements_list = user_input_str.split(',')
user_set = set(elements_list)
print(user_set)

Enter a set of elements separated by commas:  My Suraj 3.14 True

{'My Suraj 3.14 True'}

41. Check if the intersection of two sets is empty.

In [190]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}

if not s1.intersection(s2) :
    print("Intersection of two set is Empty")
else:
    print("There is intersection")

Intersection of two set is Empty

42. Create a set of the first 5 Fibonacci numbers.

In [191]:
def fibo(num):
    t1 = []

    for i in range(num):
        if i<2:
            t1.append(i)
        else:
            t1.append(t1[i-1] + t1[i-2])
        
    return set(t1)
        
result = fibo(5)
print(result)

{0, 1, 2, 3}

43. Remove duplicates from a list using sets

In [192]:
l1 = [1,1,2,3,3,4,5,6,6,7]
result = set(l1)
print(result)

{1, 2, 3, 4, 5, 6, 7}

44. Check if two sets have the same elements, regardless of their count.

In [193]:
s1 = {1,2,3,4,5,6}
s2 = {1,5,4,2,4,3}

if s1 == s2:
    print("Both have same element")
else:
    print("Both does not have same element")

Both does not have same element

45. Create a set of the first `n` powers of 2.

In [194]:
result = (i**2 for i in range(5))
print(set(result))

{0, 1, 4, 9, 16}

46. Find the common elements between a set and a list.

In [195]:
l1 = [1,2,3,4,5]
s = {6,7,8,9,5}

common = []

list_s = list(s)
for i in l1:
    if i in s:
        common.append(i)
    
print(set(common))

{5}

47. Create a set of the first `n` triangular numbers.

In [196]:
def triangular_set(n):
    return set((i*(i+1))//2 for i in range(n))

n = 5
tri = triangular_set(n)
print(tri)

{0, 1, 3, 6, 10}

48. Check if a set contains another set as a subset.

In [197]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [198]:
n = 6
result = (1 if i%2==0 else 0 for i in range(n))
print(set(result))

{0, 1}

50. Merge multiple sets into one.

In [199]:
s1 = {1,2,3}
s2 = {3,4,5}
s3 = {1,3,5}

result = s1.union(s2,s3)
print(result)

{1, 2, 3, 4, 5}